/* Nos styles personnalisés pour l'application */

/* Les animations d'entrées */
.page-file.ng-enter {
	-webkit-transition: 1s linear all;
	-webkit-transform: perspective(800px) rotateY(90deg) rotate(180deg);
	opacity: 0;
}

.page-file.ng-enter.ng-enter-active {
	-webkit-transform: perspective(800px) rotateY(0deg) rotate(0deg);
	opacity: 1;
}

.page-search.ng-enter {
	-webkit-transition: 1s linear all;
	-webkit-transform: translateY(100px) rotateY(180deg);
	opacity: 0;
}

.page-search.ng-enter.ng-enter-active {
	-webkit-transform: translateY(0) rotateY(0deg);
	opacity: 1;
}