# Nous allons d'abord ignorer tous les fichiers et sous-dossiers

/*

# puis exclure les fichiers et sous-dossiers juste nécessaires.

!/.gitignore
!/README.md
!/CONTRIBUTING.md
!/LICENSE
!/package.json
!/.bowerrc
!/bower.json
!/Gruntfile.js
!/base
!/inc
!/qt
!/android

# Pareil pour chaque sous dossiers on ignore tout le contenu puis on en exclue les fichiers et sous-dossiers d'intérêt.

# Sous-dossier base

/base/*

# Ce fichier .gitkeep ne sert que pour garder la structure du dossier sur le dépôt et rien d'autre.
!/base/.gitkeep

# Sous-dossier inc

/inc/*

!/inc/index.html

!/inc/css
/inc/css/*
!/inc/css/style.css

!/inc/js
/inc/js/*
!/inc/js/app.js

!/inc/tpls
/inc/tpls/*
!/inc/tpls/search.html
!/inc/tpls/file.html

# Sous-dossier qt

/qt/*

!/qt/medbase.cpp
!/qt/medbase.pro
!/qt/medbase.qrc

!/qt/linux
/qt/linux/*
!/qt/linux/medbase.desktop
!/qt/linux/medbase.png

!/qt/macx
/qt/macx/*
!/qt/macx/medbase.icns

!/qt/windows
/qt/windows/*
!/qt/windows/medbase16x16.ico
!/qt/windows/medbase32x32.ico
!/qt/windows/medbase48x48.ico
!/qt/windows/medbase256x256.ico
!/qt/windows/windows.rc

# Sous-dossier android

/android/*

!/android/medbase
/android/medbase/*
!/android/medbase/build.gradle
!/android/medbase/src
/android/medbase/src/*

!/android/medbase/src/main
/android/medbase/src/main/*

!/android/medbase/src/main/AndroidManifest.xml

!/android/medbase/src/main/java
/android/medbase/src/main/java/*
!/android/medbase/src/main/java/tn
/android/medbase/src/main/java/tn/*
!/android/medbase/src/main/java/tn/freemed
/android/medbase/src/main/java/tn/freemed/*
!/android/medbase/src/main/java/tn/freemed/medbase
/android/medbase/src/main/java/tn/freemed/medbase/*
!/android/medbase/src/main/java/tn/freemed/medbase/MedBaseActivity.java
!/android/medbase/src/main/java/tn/freemed/medbase/MedBaseHelper.java

!/android/medbase/src/main/res
/android/medbase/src/main/res/*
!/android/medbase/src/main/res/drawable-hdpi
/android/medbase/src/main/res/drawable-hdpi/*
!/android/medbase/src/main/res/drawable-hdpi/ic_launcher.png
!/android/medbase/src/main/res/drawable-mdpi
/android/medbase/src/main/res/drawable-mdpi/*
!/android/medbase/src/main/res/drawable-mdpi/ic_launcher.png
!/android/medbase/src/main/res/drawable-xhdpi
/android/medbase/src/main/res/drawable-xhdpi/*
!/android/medbase/src/main/res/drawable-xhdpi/ic_launcher.png
!/android/medbase/src/main/res/drawable-xxhdpi
/android/medbase/src/main/res/drawable-xxhdpi/*
!/android/medbase/src/main/res/drawable-xxhdpi/ic_launcher.png
!/android/medbase/src/main/res/layout
/android/medbase/src/main/res/layout/*
!/android/medbase/src/main/res/layout/medbase.xml
!/android/medbase/src/main/res/values
/android/medbase/src/main/res/values/*
!/android/medbase/src/main/res/values/strings.xml