<p><button class="btn btn-primary" ng-click="$back()"><span class="glyphicon glyphicon-backward"></span></button></p>

<marquee behavior="slide" direction="left">Cette fiche est à titre d'exemple seulement.</marquee>

<div class="jumbotron">
	<h1>ADOL</h1>
	<p>PARACETAMOL Comprimé 500 mg</p>
</div>
<table class="table table-hover table-condensed">
	<tr class="warning">
		<th>Présentation</td>
		<td>B/15</td>
	</tr>
	<tr class="warning">
		<th>Laboratoire</td>
		<td>SAIPH</td>
	</tr>
	<tr class="success">
		<th>Classe Thérapeutique</td>
		<td>ANTALGIQUES</td>
	</tr>
	<tr class="success">
		<th>Sous Classe</td>
		<td>Paracétamol</td>
	</tr>
	<tr class="success">
		<th>Indication</td>
		<td>TRAITEMENT SYMPTOMATIQUE DES AFFECTIONS DOULOUREUSES ET/OU FEBRILES.</td>
	</tr>
	<tr class="success">
		<th>Tableau</td>
		<td>O</td>
	</tr>
	<tr class="danger">
		<th>Conditionnement primaire</td>
		<td>Blister</td>
	</tr>
	<tr class="danger">
		<th>Spécification</td>
		<td>en PVC/ALU</td>
	</tr>
	<tr class="danger">
		<th>Durée de conservation</td>
		<td>36 (mois)</td>
	</tr>
	<tr class="info">
		<th>AMM</td>
		<td>9163283</td>
	</tr>
	<tr class="info">
		<th>Date AMM</td>
		<td>13/06/2006</td>
	</tr>
</table>
<p><button class="btn btn-primary" ng-click="$back()"><span class="glyphicon glyphicon-backward"></span></button></p>